@import "./node_modules/swiper/swiper-bundle.css";

.item__slide {
  text-align: center;
}

.modal {
  position: relative;
  padding: 30px;
  height: 600px;
  display: none;
}
.swiper-container {
  margin-top: 80px;
}
.item__img {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}
.item__img img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev {
  position: absolute;
  left: 15%;
  top: 46%;
}

.swiper-button-next {
  position: absolute;
  right: 15%;
  top: 46%;
}

#counter {
  display: flex;
  margin-left: 44%;
}
input {
  color: #fff;
  font-size: 25px;
}

#buttonCountPlus {
  margin-right: 20px;
}

#buttonCountMinus {
  margin-left: 20px;
}

.btn {
  background-color: #3877ee;
  width: 41px;
  height: 41px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

#buttonCountNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid black;
  margin-top: -6px;
  font-size: 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

.menu {
  margin: 10% auto;
  width: 601px;
  height: 465px;
  position: relative;
}

.menu__title {
  font-size: 36px;
  font-weight: 400;
}

.menu__count {
  font-size: 128px;
  font-weight: 400;
  position: absolute;
  left: 40%;
}

.menu__button {
  position: absolute;
  top: 70%;
  left: 35%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #3877ee;
  border-radius: 30px;
  padding: 20px 40px 20px 40px;
  border: 0;
  cursor: pointer;
}

.swiper-close {
  position: absolute;
  top: 0%;
  left: 44.5%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #3877ee;
  border-radius: 30px;
  padding: 20px 40px 20px 40px;
  border: 0;
  cursor: pointer;
  margin-top: 15px;
}
